:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
  }

html{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
}

body{
    padding: 0;
    padding-top: 30px;
}

/* img {
    display: block;
    width: 100%;
    height: auto;
  } */

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    padding: 0;
    margin: 0;
}

button{
    all: unset;
}

/*  */

.gallery{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;

    margin-left: auto;
    margin-right: auto;
}

.gallery__item{
    transition: transform 250ms linear;
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__item:hover,
.gallery__item:focus{
    transform: scale(1.02);
}


.gallery__image{
    width: 300px;
    height: auto;
}

/* modal */

.modal{
   position: fixed;
   
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.6);

   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: 1000;

   opacity: 0;
   pointer-events: none;
   transition: opacity var(--animation-duration) var(--timing-function);
}

.modal.is-open{
    opacity: 1;
    pointer-events: initial;
}

.modal__img{
    display: block;
    width: 100%;
    height: auto;
}

.modal__button{
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    top: 20px;
    right: 40px;

    border-radius: 100%;
    background-color: rgba(0, 0, 0,0.7);
    color: #fff;

    width: 48px;
    height: 48px;

    cursor: pointer;
    transition: background-color var(--animation-duration) var(--timing-function);

}
